{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        
        <h3 class='spotlight'>Sobre o Foodly</h3>
        
        {% for item in about %}
            {% if item.common %}
                <h3 class="common">
                    {{ item.title }} 
                </h3>  
            {% endif %}

            {% for texts in item.text %}
                <p> 
                    {{ texts.paragraph }}
                </p>
            {% endfor %}            
        {% endfor %}
    </div>
{% endblock %}