{% extends "layout.njk" %}

{% block content %}
    <section class="home__container">
        
            <div class="home__box">
                <h3>As melhores receitas</h3>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>

            <div class="home__box">
                <img src="assets/chef.png" alt="Picture of chef"/>
            </div>
        
    </section>

    <div class="featured">
        <p>Mais acessadas</p>
    </div> 

    <section class="cards">

        {% for recipe in recipes %}
            {% if recipe.featured %}
                <div class="card {{ 'featured-wrapper' if recipe.featured }}" id="{{ recipe.id }}">
                    <div class="card__image-container">
                        <img src="{{ recipe.src }}" alt="Picture of {{ recipe.title }}">
                    </div>

                    <div class="card__title">
                        <p> {{ recipe.title }} </p>
                    </div>

                    <div class="card__by">
                        <p> por {{ recipe.by }} </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </section>
{% endblock content %}