@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap";

:root {
    --font-color: #111111;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-left: 230px;
    margin-right: 230px;
    background: white;
    color: var(--font-color);
}

header {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
}

header a {
    margin-right: 30px;
}

.logo {
    margin-top: 36px;
}

.links {
    text-align: left;
    margin-top: 38px;
    margin-bottom: 36px;
}

.links a {
    color: var(--font-color);
    font-size: 16px;
    text-decoration: none;
}

.home__container {
    margin-top: 30px;
    background-color: #FBDFDB;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;    
}

.home__box h3 {
    width: 305px;
    height: 38px;
    margin-left: 60px;
    margin-top: 117px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}

.home__box p {
    width: 316px;
    height: 84px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 117px;
    font-size: 18px;
}

.home__box img {
    width: 216px;
    height: 300px;
    margin-right: 100px;
    margin-top: 66px;
    margin-left: 248px;
}

.featured {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background: #EEEEEE;
    padding: 23px;
    margin: -230px;
    margin-top: 50px;
}

.footer p {
    text-align: center;
    font-size: 14px;
    color: #999999;
}

#wrapper {
    text-align: justify;
    color: #111111;
}

.common {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.spotlight {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 20px;
}

#wrapper p {
    font-size: 18px;
    color: #444444;
}

/* === CARDS === */

.cards {
    max-width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
    cursor: pointer;
}

.card__image-container img {
    border-radius: 15px;
    width: 100%;
}

.card__title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--font-color);
}

.card__by {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #777777;
}

#cards_home {
    cursor: not-allowed;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    margin-left: -230px;
    margin-right: -230px;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color:white;
    width: 80%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: auto;
    position: relative;
    border-radius: 30px;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 50%;
    bottom: 8px;
    cursor: pointer;
}

/* === MODAL.ACTIVE === */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
} 